# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Claude Code
.claude/

# CocoaPods
Pods/

# Swift Package Manager
.build/
